.wrapper {
  display: block;
  position: relative;
  width: 100%;
  overflow: hidden;
  transition: transform 0.2s ease;
}

.overlay {
  position: absolute;
  inset: 0;
  pointer-events: none;
}

.link {
  display: flex;

  &:hover {
    .wrapper {
      transform: scale(1.05);
  }
  }
}