@use '@/scss/mixins' as mixins;
@use '@/scss/variables' as vars;

.slider {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  position: relative;

  @each $name, $value in vars.$colors {
    &--color-#{$name} {
      background-color: $value;
    }
  }

  @each $name, $value in vars.$gradients {
    &--gradient-#{$name} {
      background: $value;
    }
  }

  // Swiper kontejner
  &__wrapper {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 260px; // Default visina za horizontalni (mobile-first)

    @include mixins.tablet {
      height: 400px;
    }

    :global(.swiper) {
      width: 100%;
      height: 100%;
    }
  }

  &--vertical {
    .slider__wrapper {
      height: 360px; // Veća visina za vertikalni prikaz (mobile-first)

      @include mixins.tablet {
        height: 600px;
      }
    }
  }

  &__slide {
    position: relative;
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 8px;
    }
  }

  &__caption {
    position: absolute;
    bottom: 20px;
    left: 20px;
    background: mixins.color-alpha(#000, 60%);
    color: #fff;
    padding: 10px 15px;
    border-radius: 4px;
  }
}

.slider__bgImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  object-fit: cover;
}

.overlay {
  position: absolute;
  inset: 0;
  pointer-events: none;
  z-index: 0;
}
