@import "../../../scss/variables";
@import "../../../scss/mixins";

.heading {
  margin: 0;
  line-height: 1.2;
  color: map-get($colors, "dark");

  &--h1 {
    font-size: 40px;
    font-weight: 800;
    @include tablet { font-size: 64px; }
  }

  &--h2 {
    font-size: 32px;
    font-weight: 700;
    @include tablet { font-size: 48px; }
  }

  &--supTitle {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: map-get($colors, "primary");
    font-weight: 600;
    display: block;
  }

  &--subTitle {
    font-size: 18px;
    font-weight: 400;
    color: lighten(map-get($colors, "secondary"), 15%);
  }
}