@import "../../../scss/variables";
@import "../../../scss/mixins";

.heading {
  margin: 0;
  line-height: 1.2;
  width: 100%;
  color: map-get($colors, "dark");

  &--h1 {
    font-size: 40px;
    font-weight: 800;
    @include tablet { font-size: 64px; }
  }

  &--h2 {
    font-size: 32px;
    font-weight: 700;
    @include tablet { font-size: 48px; }
  }

  &--center {
    text-align: center;
  }

  &--right {
    text-align: right;
  }
}