@import "../../scss/mixins";

.section {
  width: 100%;
  position: relative;

  // Renderovanje boja iz mape
  @each $name, $value in $colors {
    &--color-#{$name} {
      background-color: $value;
    }
  }

  // Renderovanje gradijenata iz mape
  @each $name, $value in $gradients {
    &--gradient-#{$name} {
      background: $value;
    }
  }

  &--full-height {
    height: 100dvh;
  }

  &--blank {
    background: transparent;
  }

  &__bgImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    object-fit: cover;
  }
}