@import "@/scss/mixins.scss";
@import "@/scss/variables";

.tabs {
  width: 100%;

  &--default {
    display: block;
  }

  &--full {
    .tabs__trigger {
      flex: 1 1 auto;
    }
  }

  &--horizontal {
  }

  &--vertical {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1.6rem;
  }
}

.tabs__nav {
  display: flex;
  gap: .4rem;
  margin-bottom: 1.6rem;
  flex-wrap: wrap;
  border-bottom: 1px solid color-alpha($color-primary, 10%);
}

.tabs__trigger {
  appearance: none;
  border: 0;
  background: color-alpha($color-primary, 10%);
  cursor: pointer;
  padding: 1.2rem 1.8rem;
  border-bottom: 2px solid transparent;
  color: $color-primary;
  border-radius: 5px 5px 0 0;
  transition: color 0.2s ease, border-color 0.2s ease;
  margin-bottom: -1px;
}

.tabs__trigger:hover {
  color: $color-secondary;
  background: color-alpha($color-primary, 30%);
}

.tabs__trigger--active {
  color: $color-red;
  border-bottom-color: currentColor;
}

.tabs__panel {
  width: 100%;
}