.block-holder {
  display: block;

  &--flex {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;

    &-row-rewerse {
      flex-direction: row-reverse;
    }

    &-row-wrap {
      flex-direction: row;
      flex-wrap: wrap;
    }

    &-column {
      flex-direction: column;
    }

    &-column-rewerse {
      flex-direction: column-reverse;
    }
  }

  &--grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));

    &-col-2 {
      grid-template-columns: repeat(2, 1fr);
    }
    &-col-3 {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &--align-top {
    align-items: flex-start;
    vertical-align: top;
  }

  &--align-middle {
    align-items: center;
    vertical-align: center;
  }

  &--align-bottom {
    align-items: flex-end;
    vertical-align: bottom;
  }
}