.textBlock {
  display: flex;
  flex-direction: column;
  height: 100%;

  &.justify-top { justify-content: flex-start; }
  &.justify-center { justify-content: center; }
  &.justify-bottom { justify-content: flex-end; }
  &.justify-space-between { justify-content: space-between; }
  &.justify-space-around { justify-content: space-around; }

  &.align-left { align-items: flex-start; text-align: left; }
  &.align-center { align-items: center; text-align: center; }
  &.align-right { align-items: flex-end; text-align: right; }
}