@use './variables' as vars;

$container-w-extension: calc(vars.$container-inline-padding * 2);

html {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: vars.$color-bg;
  color: vars.$color-text;
  -webkit-font-smoothing: antialiased;
  font-size: 1.6rem;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  padding-inline: vars.$container-inline-padding;
  max-width: calc(128rem + $container-w-extension);
  width: 100%;
  margin: 0 auto;
  position: relative;
  height: 100%;

  &-xl {
    max-width: calc(160rem + $container-w-extension);
  }

  &-lg {
    max-width: calc(144rem + $container-w-extension);
  }

  &-xs {
    max-width: calc(76.8rem + $container-w-extension);
  }

  &--align {
    &-center {
      display: flex;
      align-items: center;
    }

    &-bottom {
      display: flex;
      align-items: flex-end;
    }
  }
}

.padding {
  @each $name, $value in vars.$sizes {
    &-#{$name} {
      padding: $value 0;
    }
  }
}

.gap {
  @each $name, $value in vars.$sizes {
    &-#{$name} {
      gap: $value;
    }
  }
}
