@import "./mixins";
@import "./variables";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: $color-bg;
  color: $color-text;
  -webkit-font-smoothing: antialiased;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  padding-inline: $container-inline-padding;
  max-width: calc(1200px + $container-inline-padding);
  margin: 0 auto;
  position: relative;
  height: 100%;

  &-xl {
    max-width: calc(1600px + $container-inline-padding);
  }

  &-l {
    max-width: calc(1440px + $container-inline-padding);
  }

  &-xs {
    max-width: calc(768px + $container-inline-padding);
  }
}